{% extends "base.html" %}
{% block content %}
<form method="POST" action="{{ url_for('amount') }}" class="form-wrap" >
    <label for="amount">Enter Amount to Withdraw:</label><br>
    <input type="text" name="amount" id="amount" required pattern="^\d+(\.\d{1,2})?$" title="Enter a valid amount (e.g., 100.00)"><br>

    <label for="currency">Select Currency:</label><br>
    <select name="currency" id="currency" required>
        <option value="USD" {% if session.currency == 'USD' %}selected{% endif %}>USD</option>
        <option value="EUR" {% if session.currency == 'EUR' %}selected{% endif %}>EUR</option>
    </select><br><br>

    <button type="submit">Next</button>
</form>
{% endblock %}
